<div class='about-container'>
    <header>
        <div class="module-title">
            <div class='title'>ABOUT</div>
            <div class='underline'></div>
        </div>
    </header>
    <p>
        Online Doctor Appointment, find the best advice for all your health needs, Ask our Doctor portal offers appointments with the best specialists in India to cater to all your medical problems. Ask offers hassle-free, quick appointments with the finest specialists
        in India. Avail Excellent treatment options for all your health problems and ensure your well-being with their expertise and care.
    </p>
</div>