@import '../common.scss';
.about-container {
    margin: 50px 65.5px;
    p {
        font-size: 13px;
        color: $planner-font-color2;
        letter-spacing: 0.48px;
        line-height: 20px;
        margin-top: 30px;
    }
}

@media (max-width: 850px) {
    .about-container {
        margin: 20px 24px;
        .module-title {
            padding-left: 1.5px !important;
        }
    }
}

.e-sb-icon {
    font-family: 'sb-icons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.about {
    font-size: 14px;
    color: #9AA5BB;
    letter-spacing: 0.05px;
    height: 100%;
}

.about-heading {
    font-weight: bold;
    color: #485058;
    font-size: 16px;
    padding: 0 0 12px 0;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif, "-apple-system", "BlinkMacSystemFont";
}

.about-description {
    text-align: justify;
    color: #485058;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 24px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif, "-apple-system", "BlinkMacSystemFont";
}

.list-heading {
    font-weight: bold;
    color: #485058;
    font-size: 16px;
    padding-bottom: 12px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif, "-apple-system", "BlinkMacSystemFont";
}

.about-component {
    color: #485058;
    font-size: 14px;
    padding-bottom: 24px;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif, "-apple-system", "BlinkMacSystemFont";
    margin-left: 20px;
}

.about-component li {
    line-height: 24px;
}

.control-item {
    color: #4a90e2;
    display: flex;
    line-height: 30px;
    display: inline-block;
    width: 168px;
}

.ejimage-button::before {
    content: '\e702';
    color: $planner-element-bg-color;
}

.ejimage-schedule::before {
    content: '\e709';
    color: $planner-element-bg-color;
}

.ejimage-chart::before {
    content: '\e906';
    color: $planner-element-bg-color;
}

.ejimage-card::before {
    content: '\e713';
    color: $planner-element-bg-color;
}

.ejimage-sidebar::before {
    content: '\e705';
    color: $planner-element-bg-color;
}

.ejimage-autocomplete::before {
    content: '\e70b';
    color: $planner-element-bg-color;
}

.ejimage-datepicker::before {
    content: '\e90d';
    color: $planner-element-bg-color;
}

.ejimage-timepicker::before {
    content: '\e927';
    color: $planner-element-bg-color;
}

.ejimage-dialog::before {
    content: '\e90e';
    color: $planner-element-bg-color;
}

.ejimage-dropdownlist::before {
    content: '\e70a';
    color: $planner-element-bg-color;
}

.ejimage-grid::before {
    content: '\e913';
    color: $planner-element-bg-color;
}

.ejimage-checkbox::before {
    content: '\e707';
    color: $planner-element-bg-color;
}

.ejimage-numerictextbox::before {
    content: '\e72a';
    color: $planner-element-bg-color;
}

.ejimage-radiobutton::before {
    content: '\e727';
    color: $planner-element-bg-color;
}

.ejimage-listview::before {
    content: '\e917';
    color: $planner-element-bg-color;
}

.ejimage-treeview::before {
    content: '\e92b';
    color: $planner-element-bg-color;
}

.ejimage-textboxes::before {
    content: '\e919';
    color: $planner-element-bg-color;
}

.ejimage-toast::before {
    content: '\e716';
    color: $planner-element-bg-color;
}

.control-icon {
    font-size: 18px;
    margin-right: 15px;
    vertical-align: middle;
}

.control-name {
    font-size: 14px;
}

.about-component {
    margin-left: 20px;
}